@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

@model MessageModel

<html>
<head>
    <title>Index</title>
</head>
<body>
    Chào mừng asp.net
    <br />
    @ViewBag.WelcomeString
    <br/>

    @Model.Welcome
</body>

</html>